<nav class="w-full h-20 bg-black text-white">
  <div class="border rounded-r-full rounded-l-full h-16 w-[80%] mx-auto flex justify-between items-center ">
    <div class="mx-10"><img src="" alt=""></div>
    <div class="flex justify-center items-center">
      <a routerLink="/home" routerLinkActive="active" class="mx-5 underline cursor-pointer">Home</a>
      <a routerLink="/about" routerLinkActive="active" class="mx-5 underline cursor-pointer">About</a>
      <a routerLink="/contact" routerLinkActive="active" class="mx-5 underline cursor-pointer">Course</a>
    </div>

    <button
      class="h-8 bg-yellow-950 text-yellow-500 w-20 rounded-r-full rounded-l-full mx-10 font-semibold">Register</button>
  </div>

</nav>